.dog-container {
  text-align: center;
  align-items: center;
}
.dogImage {
  height: 300px;
}
.button-container {
  text-align: center;
  margin-bottom: 100px;
}
.button1 {
  margin-right: 60px;
}
.button2 {
  margin-left: 60px;
  margin-bottom: 20px;
}
